html{
  height: 100%;
}

body{
  background-color: royalblue;
}
header{
  background-color: #6E00F2;
  border: 1px solid black;
}
h1{
  font-size: xx-large;
  padding:10px;
  text-align: center;
  font-weight: bold;
}
aside{
  width:33%;
  height:600px;
  background-color: #E300E8;
}
div{
  width:33%;
  height:600px;
  background-color: #01EBD6;
}
section{
  width: 33%;
  height:600px;
  background-color: #E300E8;
}
li{
  font-size: larger;
  font-weight: bold;
  padding:5px;
}
h2{
  font-size: larger;
  font-weight: bold;
  padding:10px;
  text-align: center;
}
p{
  font-size: large;
  padding:5px;
}
h3{
  font-size: larger;
  font-weight: bold;
  padding:20px;
}
footer{
  background-color:#6E00F2;
  text-align: center;
  padding:10px;
  color:white;
}