main{
  display:inline-block;
  vertical-align: top;
}
aside{
  text-align: center;
  display:inline-block
}
 nav {
  position:absolute;
  left:175px;
  top:275px;
}
div{
  display:inline-block;
  vertical-align: top;
}
section{
  display:inline-block;
  vertical-align: top;
}
h2{
  margin-top: 215px;
}
p{
  vertical-align: center;
}
h3{
  position: relative;
  top:200px;
  left:200px;
}
