main{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
}
div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section{
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
aside{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

